.liftur-main-div {
    background: #fff;
    display: block;
    height: 100vh;
    width: 40vh;
    margin:0 auto;
    object-fit: cover;
}

.liftur-main-ui {
    background-color: #fff;
}

.liftur-header {
    margin: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.session-div {
    padding-top: 1.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.login-modal {
    position: absolute;
    top: 25%;
    left: 8%;

}

.signup-modal {
    position: absolute;
    top: 25%;
    left: 8%;

}

.modal-div {
    background: white;
}

.login-modal {
    background: #fff;
    display: flex;
    flex-direction: column;
    border: 2px solid #969696;
    border-radius: 25px;
    padding: 5px;
    outline: none;
    width: 80%
}
.signup-modal {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 2px solid #969696;
    border-radius: 25px;
    padding: 5px;
    outline: none;
    width: 80%
}

.main-info-div {
    padding-top: 3rem;
    word-wrap: break-word;
    max-width: 40vh;
    font-size: 22px;
    text-align: center;
}

.x-button {
    float: right;
    margin-left: 85%;
    background: transparent;
    border: 1px solid transparent;
    font-weight: bold;
    margin-bottom: 10px;
}

.switch-button {
    background: #fff;
    border: 1px solid #fff;
    margin-bottom: 5px;
    color:gray;
}

.session-button {
    margin-left: 5px;
    height: 34px;
    width: 100px;
    background: rgb(33, 182, 145);
    border: 0px solid;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    outline: none;
    font-weight: bolder;
}

.session-button:hover {
    background: #05ca99;
    cursor: pointer;
}

body {
    margin:0;
    overflow-x:hidden;
    overflow-y:hidden;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    overflow-y:hidden;
}

.main-page-footer {
    position: absolute;
    bottom: 30px;
    left: 5px;
}


.barbell {
    height: 100px;
    width: 100px;
}

.splash-page--top {
    display: flex;
    justify-content: center;
    align-content: baseline;
}

.splash-page--header {
    display: flex;
    justify-content: center;
}

.splash--header--logo {
    display: flex;
    font-size: 25px;
}

.splash-page--header img.logo{
    height: 3rem;
    margin: 2.37rem .5rem 0rem 0rem;
}

.main--footer img.model {
    padding-top: 5rem;
    display: flex;
    justify-items: center;
    width: 40vh;
}