.buttons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.workout-modal-button {
    background: rgb(33,182,145);
    width: 40%;
    text-align: center;
    margin: 20px 0px;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.rest-instr {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.workout-show-close {
    background: white;
    border: 1px solid white;
}