.liftur--ui {
    display: block;
    height: 100vh;
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.plan--wrapper {
    display: block;
    height: 75%;
    width: 100%;
}

.plan--header {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.plan--scrollable {
    display: block;
    height: 95%;
    width: 100%;
    overflow-y: scroll;
}

.plan--footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-content: baseline;
}

.plan--footer img {
    height: 1.2rem;
}
