.liftur--ui {
    display: block;
    height: 100vh;
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.plan--wrapper {
    display: block;
    height: 75%;
    width: 100%;
}

.plan--header {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.plan--scrollable {
    display: block;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.plan--container {
    display: flex;
    height: 25%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: lavender;
    border-radius: 20px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.plan--footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-content: baseline;
}

.plan--footer img {
    height: 1.2rem;
}
