.ex-instructions {
    display: flex;
}

.reps-list {
    list-style: none;
}

.weights-list {
    list-style: none;
}

.workout-show-div {
    display: flex;
    margin:0 auto;
    overflow-y: scroll;
}

.all-info-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-height: 76vh;
}

.exercise-title {
    color: rgb(33,182,145);
    font-size: 15px;
}